<div class="col s4" id="team-<%= team.id %>-details">
    <h1> <%= team.name %></h1>
    <h2> <%= team.title %> </h2>
    <h3> <%= team.description %> </h3>
    <p>number_of_wins ->  <%= team.number_of_wins %> </p>
    <p>number_of_playoffs ->  <%= team.number_of_playoffs %> </p>

</div>