<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <br>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <br>
  <%= @post.description %>
</p>

<p>
  <strong>Posted By:</strong>
  <br>
  <%= @post.user.email %>
</p>

<% if @post.user == current_user %>
  <div class="btn-group">
    <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %></td>
  </div>
<%end%>

<div class="btn-group">
  <td><%= link_to 'Back', posts_path, class: "btn btn-success" %></td>
</div>